/vendor
/.idea
/.vscode
/.env
/.env.backup
/.phpunit.result.cache
/docker-compose.override.yml
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.phpunit.cache
composer.lock
